---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "15/01/2024 - Actualidad",
    title: "Full Stack Developer",
    company: "Oxygen Workspace",
    description:
      "Desarrollé un proyecto llamado Hotel Miranda, que cuenta con una página web para los clientes donde pueden ver toda la información sobre el hotel a demás de comprobar fechas disponibles y reservar habitaciones. También desarrollé la aplicación web para los empleados, Hotel Miranda Dashboard, donde los empleados pueden gestionar las reservas del hotel, habitaciones, reseñas y registros de empleados.",
    link: "https://jaimehu20.github.io/Hotel-Miranda/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
